.converter {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 80vw;
}

.easNorTextArea {
  flex-basis: 25%;
  min-width: 250px;
}

.latLonTextArea {
  flex-basis: 40%;
  min-width: 600px;
  position: relative;
}

.easNorTextArea_2 {
  flex-basis: 40%;
  min-width: 300px;
}

.latLonTextArea_2 {
  flex-basis: 40%;
  min-width: 300px;
  /* position: relative; */
}

.latLonTextArea button {
  position: absolute;
  right: 0;
}

.butContainer {
  flex-basis: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  margin: 1rem;
}

.map {
  flex-basis: 100%;
  /* margin-bottom: -10vh; */
}

.KMLButton {
  margin-top: 2rem;
  flex-basis: 100%;
  max-width: 10rem;
}

.fileRefContainer {
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fileRefInput {
  width: 20%;
  margin-right: 2rem;
  margin-left: 0.5rem;
}

@media screen and (max-width: 800px) {
  .converter {
    flex-direction: column;
  }

  .butContainer {
    flex-direction: row;
  }

  .button {
    transform: rotate(90deg);
  }

  .KMLButton {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
  }
}
